.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

svg {
  display: block;
}